{% extends 'index.html' %}
{% block head %}
<title>Contact Us</title>
{% endblock head %}
{% block body %}
<!-- Contact 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 mt-5">


  <div class="container mt-5 staff">
    <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card testimonial-card mt-2 mb-3">
          <div class="card-up aqua-gradient"></div>
          <div class="avatar mx-auto white">
            <img src="/static/image/staff_pics/deepak.jpg" class="rounded-circle img-fluid"
              alt="woman avatar">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-weight-bold">Prof. Deepak Sharma</h4>
            <hr>
            <p> H.O.D & Assistant Professor </p>
          </div>
        </div>
        
      </section>
    </div>
    <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card testimonial-card mt-2 mb-3">
          <div class="card-up aqua-gradient_head"></div>
          <div class="avatar mx-auto white">
            <img src="/static/image/staff_pics/Vrushali.jpg" class="rounded-circle img-fluid"
              alt="woman avatar">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-weight-bold">Prof. Vrushali More </h4>
            <hr>
            <p> Assistant Professor</p>
          </div>
        </div>
        
      </section>
    </div>
    <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card testimonial-card mt-2 mb-3">
          <div class="card-up aqua-gradient"></div>
          <div class="avatar mx-auto white">
            <img src="/static/image/staff_pics/tejal.jpg" class="rounded-circle img-fluid"
              alt="woman avatar">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-weight-bold">Prof. Tejal Navarkar </h4>
            <hr>
            <p> Assistant Professor</p>
          </div>
        </div>
        
      </section>
    </div>
    <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card testimonial-card mt-2 mb-3">
          <div class="card-up aqua-gradient"></div>
          <div class="avatar mx-auto white">
            <img src="/static/image/staff_pics/bharti.jpg" class="rounded-circle img-fluid"
              alt="woman avatar">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-weight-bold">Prof. Bharati Bisane </h4>
            <hr>
            <p> Assistant Professor</p>
          </div>
        </div>
        
      </section>
    </div>
    <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card testimonial-card mt-2 mb-3">
          <div class="card-up aqua-gradient"></div>
          <div class="avatar mx-auto white">
            <img src="/static/image/staff_pics/unknown.jpg" class="rounded-circle img-fluid"
              alt="woman avatar">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-weight-bold">Prof. Surekha Dhumal. </h4>
            <hr>
            <p> Assistant Professor</p>
          </div>
        </div>
        
      </section>
    </div>
    <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card testimonial-card mt-2 mb-3">
          <div class="card-up aqua-gradient"></div>
          <div class="avatar mx-auto white">
            <img src="/static/image/staff_pics/unknown.jpg" class="rounded-circle img-fluid"
              alt="woman avatar">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-weight-bold">Prof. Snehal Ranit</h4>
            <hr>
            <p> Assistant Professor</p>
          </div>
        </div>
        
      </section>
    </div>
    <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card testimonial-card mt-2 mb-3">
          <div class="card-up aqua-gradient"></div>
          <div class="avatar mx-auto white">
            <img src="/static/image/staff_pics/niharika.jpg" class="rounded-circle img-fluid"
              alt="woman avatar">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-weight-bold">Prof. Niharika Sharma </h4>
            <hr>
            <p> Assistant Professor</p>
          </div>
        </div>
        
      </section>
    </div>
    <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card testimonial-card mt-2 mb-3">
          <div class="card-up aqua-gradient"></div>
          <div class="avatar mx-auto white">
            <img src="/static/image/staff_pics/ketan.jpg" class="rounded-circle img-fluid"
              alt="woman avatar">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-weight-bold"> Prof. Ketan Kurkute </h4>
            <hr>
            <p> Assistant Professor</p>
          </div>
        </div>
        
      </section>
    </div>
    <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card testimonial-card mt-2 mb-3">
          <div class="card-up aqua-gradient"></div>
          <div class="avatar mx-auto white">
            <img src="/static/image/staff_pics/unknown.jpg" class="rounded-circle img-fluid"
              alt="woman avatar">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-weight-bold">Dr. Swarangi Salgaonkar. </h4>
            <hr>
            <p> Assistant Professor</p>
          </div>
        </div>
        
      </section>
    </div>
    <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card testimonial-card mt-2 mb-3">
          <div class="card-up aqua-gradient"></div>
          <div class="avatar mx-auto white">
            <img src="/static/image/staff_pics/unknown.jpg" class="rounded-circle img-fluid"
              alt="woman avatar">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-weight-bold"> Prof. Kanchan Shirbhate </h4>
            <hr>
            <p> Assistant Professor</p>
          </div>
        </div>
        
      </section>
    </div>
  </div>
</section>
{% endblock body %}